@page
@model csharpguitar.Pages.HealthCheckModel
@{
    ViewData["Title"] = "HealthCheck";
}
<h1>@ViewData["Title"]</h1>

<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="text-right">
    <img src="/images/csharpguitar.PNG" align="right" width="250" height="200" />
</div>