@page
@model csharpguitar.Pages.TerminateModel
@{
    ViewData["Title"] = "terminate the process";
}
<h1>@ViewData["Title"]</h1>

<p>This page cases a Stack Overflow Exception and will crash the W3WP process in which the code runs</p>
<div class="text-right">
    <img src="/images/csharpguitar.PNG" align="right" width="250" height="200" />
</div>
